*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
