@import "vars";
@import "fonts";

@import "global";

.lock {
  overflow: hidden;
}

.header {
  width: 100%;
  min-height: 100vh;
  padding-top: 35px;

  background-image: url("../img/firs-screen-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
  }
}

.menu {
  &__icon {
    display: none;
  }

  &__body {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    padding: 0 40px;

    &:nth-child(2) {
      padding: 0 110px 0 40px;
    }

    &:nth-child(3) {
      padding: 0 40px 0 110px;
    }

    &::after {
      position: absolute;
      bottom: 3px;
      right: 3px;
      content: "";
      width: 2px;
      height: 2px;
      background-color: $text-color;
    }

    &:nth-child(2)::after,
    &:nth-child(4)::after {
      display: none;
    }
  }

  &__link {
    font-size: 13px;
    font-weight: bold;
    color: $text-color;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media (max-width: 767px) {
    &__icon {
      width: 30px;
      height: 20px;
      position: absolute;
      top: 35px;
      right: 20px;
      z-index: 5;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        width: 100%;
        height: 2px;
        background-color: $text-color;
      }
    }

    &__icon.active {
      right: 12px;

      span {
        transition: all 0.3s ease 0s;
        background-color: #f7f7f7;
      }

      span:nth-child(1) {
        transform: rotate(45deg) translate(0, 13px);
      }

      span:nth-child(2) {
        transform: scale(0);
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(0, -12px);
      }
    }

    &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      right: 0;
      padding-top: 150px;

      flex-direction: column;
      justify-content: flex-start;

      background-color: $text-color;
      transition: all 0.3s ease 0s;
    }

    &__item {
      padding: 0 0 25px 0;
      margin: 0 0 25px 0;
      text-align: center;

      &:nth-child(2),
      &:nth-child(3) {
        padding: 0 0 25px 0;
      }

      &::after {
        position: absolute;
        bottom: -1px;
        right: 50%;
        content: "";
        width: 2px;
        height: 2px;
        background-color: #f7f7f7;
      }

      &:nth-child(2)::after {
        display: block;
      }
    }

    &__link {
      font-size: 24px;
      color: #f7f7f7;
    }
  }
}

.menu.active {
  @media (max-width: 767px) {
    .menu__body {
      top: 0;
    }
  }
}

.new-generation {
  padding: 115px 0 135px 0;
  background-color: #f7f7f7;

  @media (max-width: 767px) {
    padding: 45px 0 55px 0;
  }
}

.block {
  text-align: center;

  &__title {
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #353738;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    line-height: 34px;
    font-weight: normal;
    color: #848789;

    &--col {
      position: relative;
      padding-bottom: 40px;

      font-size: 16px;
      line-height: 30px;
      text-align: justify;

      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        background-color: #d7d7d7;
      }
    }
  }
}

.brands {
  &__row {
    display: flex;

    &--rev {
      flex-direction: row-reverse;
    }
  }

  &__column {
    width: 33.333%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &--wide {
      width: 66.667%;
    }

    &--brand-1 {
      background-image: url("../img/brand-1/photo-1.jpg");
    }

    &--brand-2 {
      background-image: url("../img/brand-2/photo-2.jpg");
    }

    &--brand-3-1 {
      background-image: url("../img/brand-3/photo-1.jpg");
    }

    &--brand-3-2 {
      background-image: url("../img/brand-3/photo-3.jpg");
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__content {
    padding: 70px 65px 50px 65px;
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);

      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }
  }

  &__image {
    padding-bottom: 37.51%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &--1 {
      background-image: url("../img/brand-1/photo-2.jpg");
    }

    &--2 {
      background-image: url("../img/brand-2/photo-1.jpg");
    }

    &--3 {
      background-image: url("../img/brand-3/photo-2.jpg");
    }
  }
}

.slider {
  margin: 0;
  padding: 0;
  padding-top: 95px;
  list-style: none;

  &__item {
    position: relative;
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;

    &::before {
      content: "";
      width: 32px;
      height: 27px;

      position: absolute;
      top: 30px;
      left: 50%;
      margin-left: -23.5px;

      background-image: url("../img/twitter-icon.png");
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #353738;
  }

  &__time {
    font-weight: 300;
    color: #848789;
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    color: #848789;
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      button {
        display: block;
        margin: 0;
        padding: 0;
        width: 11px;
        height: 11px;
        font-size: 0;
        border: 1px solid #c9c9c9;
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }
}
